# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# Static files (optional: ignore if generated)
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
